.detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgba(56, 71, 67, 0.3);
}

.theme-image {
    margin-top: 20px;
    width: 30%;
    border-radius: 10px;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c0392b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #e74c3c;
}

.motivation-content {
    max-width: 600px;
    line-height: 24px;
}